@import url('https://fonts.googleapis.com/css2?family=Electrolize&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Permanent+Marker&family=Tektur:wght@400..900&display=swap');
@import "tailwindcss";

@theme {
  --font-permMarker: "Permanent Marker", sanserif;
  --font-nunito: "Nunito", sanserif;
  --font-electrolize: "Electrolize", sanserif;
  --accent-blue: #0496ff;
}

body {
  cursor: default;
  color: #f4f4f4;
  background-color: #0f0f0f;
}
